@charset "UTF-8";
@import "base.css";
@import "fonts.css";

/*==========================================================================*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////                                                              //////*/
/*//////  Copyright (C) 2009 株式会社フリーセル All Rights Reserved.  //////*/
/*//////                                                              //////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*                                                                          */
/*    base.css   スタイルの初期設定を行うため、変更しないで下さい。      */
/*    fonts.css  フォントの初期設定を行うため、変更しないで下さい。      */
/*                                                                          */
/*==========================================================================*/

/*----------------------------------------------------------------------------
	                   Modify by Dieu Pham - 2015年/06月/2日
------------------------------------------------------------------------------*/

/*==========================================================================*/
/*                           Common-Setting                                 */
/* 
/* 汎用要素スタイル
/* ├ a
/* ├ table
/* ├ title
/* ├ p
/* └ div
/*  
/* 汎用classスタイル 
/* ├ image
/* ├ text,font
/* ├ gotop
/* └ banner
/*  
==========================================================================*/
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1,h2,h3,h4,h5,h6,input,button,textarea,select,p,blockquote,table,pre,address,ul,ol,dl {
}
* html body {
	font: 62.5% "ＭＳ Ｐゴシック", Meiryo, arial, clean, verdana, Osaka, sans-serif;
}

/* 汎用要素スタイル
-------------------------------------------------------*/

/* ========================= a */
a {
	color: #3399CC;
}
a:hover,
a:active {
	color: #f96;
	text-decoration: none;
}

/* ========================= table */
#content table {
	width: 710px;
	background: none;
	border: none;
	border-top: 1px solid #8AC47C;
	border-left: 1px solid #8AC47C;
	border-spacing: 0;
}
#content th,
#content td {
	padding: 5px 10px;
	border: none;
	border-right: 1px solid #8AC47C;
	border-bottom: 1px solid #8AC47C;
	text-align: left;
	vertical-align: top;
}
#content th {
	background: #D8EBD3;
	font-weight: normal;
}
#content td {
	background: #fff;
}
#content td.imgCel,
#content td.nonCel {
	text-align: center;
	vertical-align: middle;
}
#content .type01 th,
#content .type01 td {
	text-align: center;
}
#content .type02 th {
	text-align: center;
}
#content .type03 th {
	text-align: center;
	vertical-align: middle;
}
#content .type04 {
	border-top: 1px solid #FF6600;
	border-left: 1px solid #FF6600;
}
#content .type04 th,
#content .type04 td {
	padding: 10px;
	border-right: 1px solid #FF6600;a
	border-bottom: 1px solid #FF6600;
}
#content .type04 th {
	background-color: #FFCCAA;
	text-align: center;
	vertical-align: middle;
}



/* ========================= title */
#content h3 {
	margin: 40px 0 20px;
}
#content h4 {
	margin: 30px 0 15px;
}
#content h5 {
	margin: 25px 0 10px;
}
#content h3.firstChild,
#content h4.firstChild,
#content h5.firstChild {
	margin-top: 0;
}
#content h3.boxTi,
#content h4.boxTi,
#content h5.boxTi {
	margin-bottom: 0;
}
#content .tiBox {
	margin-top: 30px;
}
#content .capBg {
	padding-bottom: 5px;
	background: url(../img/common/double_line.gif) repeat-x left bottom;
	font-size: 114.3%;
	font-weight: bold;
}
#content .capBg span {
	display: block;
	padding-left: 25px;
	background: url(../img/common/icon_square_arrow.png) no-repeat 5px 2px;
}
#content .iconSquare {
	padding-left: 15px;
	background: url(../img/common/icon_square.gif) no-repeat 0 5px;
}
#content h4.iconSquare {
	color: #1E901E;
	font-weight: bold;
	font-size: 114.3%;
}
#content h5.iconSquare {
	font-weight: bold;
}

/* ========================= p */
#content p {
	margin: 0 0 1em;
}

/* ========================= div */
#content .section {
	margin: 0 10px;
}
#content .numSection {
	margin-left: 2.5em;
}
#content .borderBox {
	border: 1px solid #D9D9D9;
}
#content .borderBox .borderInner {
	border: 1px solid #fff;
}
#content .gradBox {
	background: #EFF0EF url(../img/index_bg_gradbox.png) repeat-x left top;
}
#content .greenFrameBox {
	padding: 4px;
	border: 1px solid #8AC47C;
	background-color: #D8EBD3;
}
#content .orangeFrameBox {
	padding: 4px;
	border: 1px solid #FF8E1E;
	background-color: #FFD8B0;
}
#content .greenStripeBox {
	padding: 9px;
	border: 1px solid #8AC47C;
	background: url(../img/common/bg_greenstripe.gif) repeat;
}
#content .greenFrameBox .greenFrameInner,
#content .orangeFrameBox .orangeFrameInner {
	padding: 5px;
	background-color: #fff;
}
#content .greenStripeBox .greenStripeInner {
	padding: 10px;
	background-color: #fff;
}
#content .greenFrameBox ul li {
	margin-bottom: 5px;
}
#content .greenFrameBox ul li.last {
	margin-bottom: 0;
}
#content .copyBox {
	font-size: 142.9%;
	font-weight: bold;
	text-align: center;
	color: #1C8F1C;
}

/* 汎用classスタイル
-------------------------------------------------------*/

#content .last {
	margin-bottom: 0;
}
#content .next {
	margin-top: 20px;
}
#content .wrap {
	overflow: auto;
	/zoom: 1;
}

/* ========================= float */
#content .fleft {
	float: left;
}
#content .fright {
	float: right;
}

/* ========================= clearfix */
.cf {
	zoom: 1;
}
.cf:after {
	content: '';
	display: block;
	clear: both;
}

/* ========================= image */
img {
	vertical-align: bottom;
}
#content .imgL {
	float: left;
	margin: 0 15px 0 0;
}
#content .imgLbtm {
	float: left;
	margin: 0 15px 15px 0;
}
#content .imgR {
	float: right;
	margin: 0 0 0 15px;
}
#content .imgRbtm {
	float: right;
	margin: 0 0 15px 15px;
}


/* ========================= text,font */
.emphasis {
	font-weight: bold;
}
.bold {
	font-weight: bold;
}
#content .info {
	font-size: 85.7%;
}
#content .txtLink a {
	display: block;
	padding-left: 15px;
	background: url(../img/common/icon_arrow.gif) no-repeat 4px 9px;
	/zoom: 1;
}


/* ========================= list */
#content .marker li {
	margin-left: 2em;
	list-style: disc;
}
#content .numList li {
	margin-left: 2em;
	margin-bottom: .5em;
	list-style: decimal;
}
#content .numList .innerNumList li {
	margin-left: 0;
	list-style: none;
}
#content .itemList li {
	margin-bottom: 10px;
}
#content .itemList li.last {
	margin-bottom: 0;
}
#content .anchorList {
	margin-left: 15px;
}
#content .anchorList li {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
#content .anchorList2 {
	margin-left: 15px;
}
#content .anchorList2 li {
	float: left;
	margin-right: 10px;
}
#content ul.asterisk li,
#content p.asterisk {
	padding-left: 1em;
	text-indent: -1em;
}
#content .iconList li {
	padding-left: 20px;
	background: url(../img/common/icon_square.gif) no-repeat 4px 8px;
}
#content .col3List {
	position: relative;
	margin-right: -30px;
	_margin-right: -60px;
	width: 740px;
	/zoom: 1;
}
#content .col3List li {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}
#content .col3List li.last {
	margin-bottom: 0;
}


/* ========================= gotop */
p.gotop {
	clear: both;
	text-align: right;
	font-size: 0;
}
#content p.pagetop {
	margin-top: 20px;
	text-align: right;
	font-size: 0;
}


/* ========================= banner */
#content .contentBnr {
	margin-top: 30px;
	text-align: center;
}

#content .contentBnr2 {
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#content .btn {
	margin: 20px 0 0;
	text-align: right;
}


/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/

html {
	margin-top: 0 !important;
	overflow-y: scroll;
	background: none;
}
body {	
	color: #333;
	text-align: center;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}
#main {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}


/*==========================================================================*/
/*                               Header                                     */
/*==========================================================================*/

#header {
	background: transparent url(../img/common/header_top_bg.jpg) repeat-x 0 0 scroll;	
	height: 100px;	
	
}

#header .header-bg{
	position: relative;
}

#header .wrapper .header-left{
	padding-top: 15px;
	float: left;
	width: 354px;	
}
#header .wrapper .header-left .top-text{
	text-align: left;	
}
#header .wrapper .header-left .logo{
	padding-top: 10px;	
}
#header .wrapper .header-right{	
	padding-top: 15px;
	float: left;
	margin-left: 180px;
}
#header #header-human{
	position: absolute;
	top: 5px;
	right: -64px;
}
#header #headInfo{
	padding-top: 10px;
}
#header ul#guideNav {
	text-align: right;
}
#header ul#guideNav li {
	display: inline;
	margin-left: 5px;
}

/*  ========================= globalNavi */
#top-navi{
	background: #fff url(../img/common/top_navi_bg.jpg) repeat-x 0 0 scroll;	
}
#top-navi ul#globalNav li {
	float: left;
}

/*  ========================= top-banner */
#top-banner{
	background: #fff url(../img/common/top_banner_bg.jpg) repeat-x 0 0 scroll;		
}
#top-banner #top-banner-left{
	padding-top: 4px;
	float: left;
	width: 726px;
	position: relative;
}
#top-banner #top-banner-left .banner-btn{
	position: absolute;
	bottom: 23px;
	right: 22px;
}
#top-banner #top-banner-right{
	padding-top: 12px;
	float: right;
}
#top-banner #top-banner-right .banner-img1{
	padding-bottom: 4px;
}


/*==========================================================================*/
/*                              Footer                                      */
/*==========================================================================*/

#footer {
	margin-top: 20px;
	padding: 20px 0;
	background-color: #3C9C24;
	width: 100%;
}
#footer #footInner {
	margin: 0 auto;
	width: 960px;
}
#footer #footLogo {
	float: left;
	margin-right: 30px;
}
#footer #footerLink {
	overflow: auto;
	font-size: 120%;
	text-align: left;
	word-wrap: break-word;
	/zoom: 1;
}
#footer #footerLink li {
	display: inline-block;
	/display: inline;
	padding-left: 10px;
	background: url(../img/common/footer_height_line.gif) no-repeat 5px center;
	line-height: 1.6;
	/zoom: 1;
}
#footer #footerLink li.firstChild {
	padding-left: 0;
	background: none;
}
#footer #footerLink a {
	color: #fff;
}
#footer #copyright {
	margin-top: 20px;
	font-size: 120%;
	color: #fff;
	text-align: right;
}


/*==========================================================================*/
/*                            Navigation                                    */
/*==========================================================================*/

#nav {
	float: left;
	width: 220px;
	margin-bottom: 20px;
}
#nav dl,
#nav ul li {
	margin-bottom: 15px;
}

/*==========================================================================*/
/*                             Contents                                     */
/*==========================================================================*/
#content {
	float: right;
	width: 710px;
	margin-bottom: 20px;
	font-size: 140%;
	text-align: left;
	line-height: 1.7;
}


/* 01 index
------------------------------------------------------------------------*/
#content .newsBox dl {
	margin-bottom: 5px;
	padding: 0 5px 5px;
	background: url(../img/common/dot.gif) repeat-x left bottom;
}
#content .newsBox dl dt {
	float: left;
	width: 7em;
	_width: 8.5em;
	padding-left: 1.5em;
	background: url(../img/common/icon_square.gif) no-repeat 0 8px;
}
#content .newsBox dl dd {
	overflow: auto;
	/zoom: 1;
}
#content .gradBox {
	padding: 13px;
}
#content #bgCheck {
	padding: 5px;
	width: 700px;
	_width: 710px;
	height: 110px;
	_height: 120px;
	background: url(../img/index_bg_check.png) no-repeat left top;
}
#content .contentNavBox {
	float: right;
	margin-left: 15px;
}
.over{
	overflow:hidden;
}

/* 02 service/
------------------------------------------------------------------------*/
#content .arrow {
	margin: 5px 0;
	text-align: center;
}
#content .orangeFrameBox .wrap {
	padding-top: 5px;
}
 #content .serviceTi {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 9px;
	background: #D8EBD3;
	border: 1px solid #8AC47C;
	font-weight: bold;
}
#servicePage #content p.firstChild {
	margin-top: 0;
}


/* 03 service/oa
------------------------------------------------------------------------*/
#content #oaFlowBox {
	position: relative;
	width: 710px;
	height: 828px;
	background: url(../img/oa_flow_bg.png) no-repeat left top;
}
#content #oaFlowBox li {
	position: absolute;
}
#content #oaFlowBox li#oaFlow01_01,
#content #oaFlowBox li#oaFlow03_01,
#content #oaFlowBox li#oaFlow04_01,
#content #oaFlowBox li#oaFlow05_01 {
	left: 0;
}
#content #oaFlowBox li#oaFlow01_02,
#content #oaFlowBox li#oaFlow03_02,
#content #oaFlowBox li#oaFlow04_02 {
	right: 0;
}
#content #oaFlowBox li#oaFlow02,
#content #oaFlowBox li#oaFlow06 {
	left: 113px;
}
#content #oaFlowBox li#oaFlow01_01,
#content #oaFlowBox li#oaFlow01_02 {
	top: 0;
}
#content #oaFlowBox li#oaFlow02 {
	top: 109px;
}
#content #oaFlowBox li#oaFlow03_01,
#content #oaFlowBox li#oaFlow03_02 {
	top: 233px;
}
#content #oaFlowBox li#oaFlow04_01,
#content #oaFlowBox li#oaFlow04_02 {
	top: 377px;
}
#content #oaFlowBox li#oaFlow05_01 {
	top: 544px;
}
#content #oaFlowBox li#oaFlow06 {
	top: 712px;
}


/* 04 service/blackbox
------------------------------------------------------------------------*/
#content .galleryBox {
	position: relative;
	/zoom: 1;
}
#content .zoomWrap {
	float: left;
}
#content .zoomWrap,
#content .zoomWrap img {
	width: 216px;
	height: 253px;
}
#content .thumbBox {
	float: right;
	margin-right: -15px;
	width: 475px;
}
#content .thumbBox ul li {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}



/* 09 faq
------------------------------------------------------------------------*/
#content h5.questionTi {
	padding: 10px 0 10px 40px;
	background: url(../img/faq_icon_q.png) no-repeat 0 0;
	font-weight: bold;
	color: #1E921E;
}
#content .answerBox {
	padding: 5px 0 20px 40px;
	border-bottom: 1px solid #efefef;
	background: url(../img/faq_icon_a.png) no-repeat 0 0;
}



/* 10 flow
------------------------------------------------------------------------*/
#content .faqBox {
	border: 1px solid #8AC47C;
}
#content .faqBox h4 {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #8AC47C;
	background-color: #D8EBD3;
	font-weight: bold;
	color: #1C8F1C;
}
#content .faqBox h4 span {
	display: block;
	padding-left: 20px;
	background: url(../img/common/icon_square_arrow.png) no-repeat 0 2px;
}
#content .detailBox {
	padding: 10px;
}
#content .arrow {
	margin: 10px 0;
	text-align: center;
}



/* 14 about/company
------------------------------------------------------------------------*/
#content .customerService {
	margin-top: 20px;
	width: 350px;
}
#content .customerService .ti {
	font-weight: bold;
	text-align: center;
}
#content .signBox {
	text-align: right;
}

.policy{
		width:670px;
		overflow:auto;
		height:300px;
		border:5px solid #eee;
		padding:0 15px 15px;
}

/* fmail
------------------------------------------------------------------------*/

/*  ========================= table style */
#content table.mailform {
	margin-top: 30px;
	padding: 0;
	width: 710px;
	background: none;
	border: none;
	border-top: 1px solid #8AC47C;
	border-left: 1px solid #8AC47C;
}
 #content table.mailform tr th,
 #content table.mailform tr td {
	padding: 5px 10px;
	border: none;
	border-right: 1px solid #8AC47C;
	border-bottom: 1px solid #8AC47C;
	text-align: left;
	vertical-align: top;
}
 #content table.mailform tr th {
	width: 150px;
	background: #D8EBD3;
	font-weight: normal;
	color: #333;
}

/*  ========================= input style */
 #content table.mailform input {
	margin-right: 3px;
	vertical-align: middle;
}
 #content table.mailform select {
	margin-right: 3px;
}
 #content table.mailform textarea {
	width: 350px;
}

/*  ========================= label style */
 #content table.mailform label.fmail_label_enabled {
	text-indent: 5px;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-weight: bold;
}
 #content table.mailform label.fmail_label_disabled {
	text-indent: 5px;
	margin: 0;
	padding: 0;
	border: none;
}


/*  ========================= list style */
 ol.fmail_radio_list li,
 ol.fmail_checkbox_list li {
	list-style: none;
	float: left;
	padding: 5px 10px 5px 0;
	white-space: nowrap;
}

/*  ========================= button style */
 #content .button {
	margin-top: 20px;
	text-align: center;
}
 #content .button input {
	width: 206px;
	height: 39px;
	padding: 0;
	border: none;
	background: #2CC17B;
	color: #fff;
	font-weight: bold;
}
 #content .site_top {
	text-align: center;
}
 #content .site_top a{
	display: block;
	width: 206px;
	height: 39px;
	margin: 1em auto;
	padding: 0;
	border: none;
	background-image: none;
	background: #2CC17B;
	color: #fff;
	font-weight: bold;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
}


/*  ========================= text style */
 #content th em {
	margin-left: 3px;
	color: #c00;
	font-size: 83.5%;
}
 #content td .info {
	color: #999;
	font-size: 83.5%;
}
 #content span.fmail_error {
	padding: 2px 0 3px 17px;
	background-position: left center;
}
 #content th.fmail_error,td.fmail_error,.fmail_error {
	background-color: none;
}

/*確認ボタン*/
#content #contact-btn{
	text-align: center;
	margin: 25px 0;
}
 #content .wpcf7-confirm {
	border-width:0;
	border-style:none;
	background:url(../img/fmail_btn_confirm_off.png);
	width: 206px;
	height: 39px;
	text-indent: -9999px;
	cursor: pointer;	
}
 #content .button input.wpcf7-confirm:hover {
	background:url(../img/fmail_btn_confirm_on.png);
	width: 206px;
	height: 39px;
	text-indent: -9999px;
	cursor: pointer;
}

/*送信ボタン*/
 #content .wpcf7-submit {
	border-width:0;
	border-style:none;
	background:url(../img/fmail_btn_submit_off.png);
	width: 206px;
	height: 39px;
	text-indent: -9999px;
	cursor: pointer;
}
 #content .wpcf7-submit:hover {
	background:url(../img/fmail_btn_submit_on.png);
	width: 206px;
	height: 39px;
	text-indent: -9999px;
	cursor: pointer;
}


/*戻るボタン*/
 #content .wpcf7-back{
	border-width:0;
	border-style:none;
	background:url(../img/fmail_btn_back_off.png);
	width: 206px;
	height: 39px;
	text-indent: -9999px;
	cursor: pointer;
}
 #content .wpcf7-back:hover {
	background:url(../img/fmail_btn_back_on.png);
	width: 206px;
	height: 39px;
	text-indent: -9999px;
	cursor: pointer;
}


/*送信完了画面*/
 #content .site_top a {
	display:block;
	width: 206px;
	height: 39px;
	margin: 1em auto;
	padding: 0;
	border-width:0;
	border-style:none;
	background:url(../img/fmail_btn_toppage_off.png);
	text-align:center;
	text-indent:-9999px;
}
 #content .site_top a:hover {
	background:url(../img/fmail_btn_toppage_on.png);
}

div.fmail_must {
	float: right;
	width: 30px;
	height: 16px;
	overflow: hidden;
	margin: 0px 0px 0px 5px;
	background-image: url(../img/mfp_must.gif);
	text-indent: -50000px;
}

.wpcf7c-conf{
	background-color: #ccc!important;
}

#content p.mt10 { margin-top: 10px;}

/*-----------  breadcrumb -----------*/
#page-breadcrumb {
  margin-top: 30px;
  text-align: left;
  font-size: 12px;
}
#page-breadcrumb a.home, #page-breadcrumb a.post-page{   
	text-decoration: none !important;
    color: #39C; 
}
#page-breadcrumb a.home:hover, #page-breadcrumb a.post-page:hover {
	color: #f96;
	text-decoration: none;
}	

/*-----------  feature -----------*/
#feature {
  background: #fff url(../img/common/top_content_banner_bg.jpg);
  height: 120px;  
  padding-top: 7px;
}
#feature .header-content {
    position: relative; 
	line-height: 120px;
}  
#feature .header-content .feature-title {
    position: absolute;     
    top: 25px;
    left: 160px;
	color: #000;
	font-size: 40px;
	font-weight: bold;
}

#feature .header-content .feature-title-text {
    position: absolute;     
    top: 55px;
    left: 175px;
	color: #000;
	font-size: 40px;
	font-weight: bold;
}


/*-----------  part-blog -----------*/
#top-news{
	margin-bottom: 40px;
	padding: 0 5px;
}

#top-news table{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
#top-news .tn_table {
	border-collapse: collapse;
	border-spacing: 0;
	background: transparent;
	width:680px;
	}
.tn_table * {
	margin: 0;
	padding: 0;
	}
#top-news .tn_table tr{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
	width:680px;
}
#top-news .tn_table tr td {
	padding: .3em;
	border:none;
	}
#top-news .tn_table .tn_date{
	background-image: url(../img/common/icon_square.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin: .5em 1em .5em .5em;
	padding-left: 15px;
	text-align:left;
	width:80px;
}

#content h3.privacy-title{
	margin-bottom: 20px;
	margin-top: 0!important;
}

/*-----------  title -----------*/
#content h3.h3-title{
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	background: url(../img/common/h3_title.jpg) repeat-x 0 0 scroll;
	padding-left: 20px;
	color: #000;	
	line-height: 50px;
	margin-top: 0;
	font-size: 22px;
	font-weight: bold;	
	padding-left: 20px;
}

.errorclr{display: none !important;}

.error{color: #f00;}


/*/////////// part-area ////////////*/
.sidebar-row{
	width: 220px;
	margin-top: 15px;
}
.sidebar-row img{width: 220px;}
.side-area {	border: 1px solid #ee1a1a; }
.side-area .area-title {
    line-height: 40px;
    background-color: #ee1a1a;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold; 
}
.side-area .area-category {margin-bottom: 10px; }
.side-area .area-category > span {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333; 
}
.side-area .area-category .area li a {color: #333333; }  
.side-area .eigyouarea {padding: 10px; }
.side-area .eigyouarea .sub-title {
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #333333;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
	font-size: 16px;
	cursor: pointer;
    font-weight: bold; 
}
.side-area .eigyouarea .sub-title:hover{
	background-color: #e6f4e7;
	color: #3C9C24;
}

.sub-title > span{
	font-size: 10px;
	padding-left: 5px;
}
.side-area .eigyouarea dt {
    border-bottom: 2px solid #ccc;
    padding-bottom: 3px;
    font-size: 14px;
	font-weight: bold;
}
.side-area .eigyouarea dt .ssub-title { margin-left: -10px; }
.side-area .eigyouarea dl { margin-bottom: -10px !important; }
.side-area .eigyouarea dd {
    padding: 5px 0 20px;
    font-size: 16px; 
}
.side-area .eigyouarea dd a {
	text-decoration: none;
    white-space: nowrap;
    color: #333333;
    font-size: 12px; 
}
.side-area .eigyouarea dd a:hover {text-decoration: underline;}

